
.page-header {
    font-size: 1.8rem;
    font-weight: 700;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(0,0,0,.12);
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    margin-bottom: 0;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
.side-nav-box::-webkit-scrollbar {
    height: 8px;
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: rgb(231, 231, 231);
    border-radius: 10px;
}

code {
    color: #343a40;
}

.post-content h3 {
    color: rgb(248,31,100);
    /* color: #646a6f; */
}

.post-footer {
    padding-top: 1.5rem;
    padding-bottom: 6rem;
}

.pill {
    padding: .38rem 0;
    background: linear-gradient(to right, rgb(33, 166, 252) 0%, rgb(35, 207, 252) 100%);
    width: 110px;
    text-align: center;
    border-radius: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    /* box-shadow: 0 20px 20px rgba(0,0,0,.08); */
    box-shadow: 3px 7px 20px rgba(0,0,0,.16);
    transition: all 250ms cubic-bezier(.02, .01, .47, 1);
    float: right;
}

.pill:hover {
    /* box-shadow: 0 40px 40px rgba(0,0,0,.16); */
    box-shadow: 3px 16px 50px rgba(0,0,0,.22);
    transform: translate(0,-5px);
    transition-delay: 0s !important;
}

.pill > a {
    text-decoration: none;
    color: white;
    padding: .6rem 2.0rem;
}

.post-header .sub-heading {
    font-size: 1.1rem;
    font-weight: 600;
    color: #868e96;
    margin-bottom: 0.3rem !important;
}

.post-header .heading {
    margin-bottom: 1.8rem;
}

.post-header h1, .post-header h6 {
    word-wrap: break-word;
} 

.post-content h2, .post-content h3, .post-content h4,
.post-content h5, .post-content h6, .post-content code.highlighter-rouge {
    word-wrap: break-word;
}

div.item {
    padding: 0.5rem 0;
    border-bottom: 1px solid #e3e3e3;
}

div.item > a{
    text-decoration: none;
    transition: opacity 0.2s ease;
    color: #222;
    font-weight: 600;
    /* text-transform: uppercase; */
    font-size: .95rem;
}

.side-nav .nav {
    margin-top: 0.9rem;
    padding-right: 1rem;
}


/* #mainAccordion div.item > a {
    color: #868e96;
    color: #444;
    font-weight: 500;
    text-transform: uppercase;
    font-size: .8rem
} */

#mainAccordion {
    padding: .5rem 0;
}

#expand-icon > i {
    color: rgba(0,0,0,.9);
    text-decoration: none;
    padding: 0 0.3rem;

    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#expand-icon > i.clicked {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
    margin-top: 2.8rem;
}

.post-content img {
    padding: 1rem 0;
}

pre {
    padding: 1rem;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

.side-menu {
    /* border-right: 1px solid rgba(0,0,0,.12); */
    position: -webkit-sticky;
    position: sticky;
    top: 62px;
    z-index: 1000;
    max-height: calc(100vh - 62px);
}

.side-nav-box {
    margin: 0 -15px;
    padding: 0 35px 0 10px;
    padding-bottom: 1rem;
    padding-top: 4.2rem;
    overflow-y: auto;
    max-height: calc(100vh - 62px);
}

.nav .sublink {
    padding: 0.44rem 0.4rem;
    margin: 0;
    margin-left: -0.4rem;
    color: rgba(0,0,0,.76);
    text-transform: initial;
    font-size: .85rem;
    transition: all 0.4s ease;
    display: block;
    border-radius: 6px;
}

.nav .sublink.active {
    color: black;
    font-weight: 500;
}

.nav .sublink:hover {
    text-decoration: none;
    background-color: rgb(244, 244, 244);
}


/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199px) {

}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991px) {
    .display-4 {
        font-size: 3.0rem;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767px) {
    .display-4 {
        font-size: 2.7rem;
    }

    .post-content img {
        max-width: 100% !important;
    }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
    .display-4 {
        font-size: 2.3rem;
    }
}


@media (min-width: 768px) {
    .post-content img {
        max-width: 75% !important;
    }
}

@media (min-width: 992px) {
    .container {
        /* max-width: 960px !important; */
    }

    .my-fluid-container {
        max-width: 100% !important;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    
    .my-fluid-container .col-lg-9 {
        padding: 0 5%;
    }
}

@media (min-width: 1200px) {
    /* .container {
        max-width: 1140px !important;
    } */
}