
<div class="team">
    {% assign alumniSorted = site.data.officers.alumni | sort: "name" %}
    {% for person in alumniSorted %}
    <div class="contact">
        {% if person.website and person.website != "" %}
        <a href="{{ person.website }}" target="_blank">
            <img src="{{ site.baseurl }}{{ person.pic }}" />
        </a>
        {% else %}
        <img src="{{ site.baseurl }}{{ person.pic }}" />
        {% endif %}

        <div class="name">
            <h6>{{ person.name }}</h6>
        </div>
        <p>{{ person.job }}</p>
    </div>
    {% endfor %}
</div>