* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    min-height: 716px;
    width: 100%;
    z-index: -1;
}
/*----------------------------------------------------------------------------*/

header {
    position: fixed;
    width: 100%;
    z-index: 10;
}

.nav {
    transition-duration: 1s;
}

header ul {
    background: #f9f9f9;
    height: 60px;
    padding-left: 200px;
    padding-right: 200px;
    list-style: none;
    display: flex;
    -webkit-flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

header ul li {
    text-align: center;
    justify-content: center;
    display: inline-block;
}

header ul li a img {
    margin: auto;
    display: block;
}

header ul li a {
    text-decoration: none;
    display: inline-block;
    color: rgba(255, 255, 255, 0.8);
}
header ul li a:hover {
    color: rgba(0, 0, 0, 0.7);
}

.li3 {
    flex: 1;
}
/*----------------------------------------------------------------------------*/

.main {
    height: 100%;
}

.title {
    background: -webkit-linear-gradient(#D9D9D9, #FFFFFF); /* For Safari 5.1 to 6.0 */
    width:calc(100%);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    transition-duration: 1s;
}

.title_sameLevel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.buttons_sameLevel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.inside_title_sameLevel {
    margin: 7px;
}

.siri {
    width:calc(100%);
    min-height: 716px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transition-duration: 1s;

}

.iphone {
    background-image: url("../images/iphone6.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 2s;
}

.insideTitle {
    text-align: center;
    color: #202227;
    transition-duration: 2s;
    display: block;

}

#iOSlogo {
    float: left;
}

.h1 {
    font-size: 100px;
    font-family: SanFran-SemiBold;
}

.h2 {
    font-size: 100px;
    font-family: SanFran-UltraLight;
}

h3 {
    font-size: 15px;
    font-family: SanFran-UltraLight;
    letter-spacing: 0.35em;

}
/*----------------------------------------------------------------------------*/

.button {
    border-radius: 10px;
    background-color: white;
    border: none;
    color: #1766B7AA;
    font-family: SanFran-Text-Light;
    font-size: 15px;
    width: 150px;
    height: 30px;
    padding: 5px;
    margin: 20px 10px;
    text-align: center;
    display: inline-block;
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
    cursor: pointer;
    text-decoration: none;
}

.button:hover {
    background-color: #FDD144;
    color: white;
}
/*----------------------------------------------------------------------------*/

.siriscreen  {
    width: 220px;
    height: 390px;
    font-family: SanFran-Text-Light;
    font-size: 12px;
    color: white;
}

.insideScreen {
    padding: 10px;
    margin: 0 auto;
}

.leftScreen {
    text-align: left;
    width: 80%;
    clear: both;
    float: left;
}

.rightScreen {
    text-align: right;
    width: 80%;
    clear: both;
    float: right;
}

.extraTopPadding {
    padding-top: 30px;
}

.siridetails {
    font-size: 10px;
}

.time {
    font-size: 50px;
    font-family: SanFran-UltraLight;
}

.siriLogo {
    clear: both;
    height: 50px;
    text-align: center;
    position: absolute;
    width: 220px;
    bottom: 160px;
}

.siriLogo img {
    resize: both;
    max-width: 100%;
    max-height: 50px;
    width: auto;
    height: auto;
}
/*----------------------------------------------------------------------------*/

.page2 {
    display:block;
    overflow:auto;
    background: #f2f2f2;
    position: relative;
    z-index: 2;
}
/*----------------------------------------------------------------------------*/

.teamPage {
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 50px;
    display:block;
    overflow:auto;
}

.teamPage p {
    font-family: SanFran-Text-Light;
    font-size: 16px;
    text-align: center;
    margin: 10px;
    color: #555555
}

.teamPage h2 {
    text-align: center;
    font-family: SanFran-UltraLight;
    font-size: 40px;
    margin: 10px;
}

#officer-data {
    padding: 0;
    margin: 100px;
    margin-top: 50px;
    /*background: red;*/
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.teamPage ul li {
    width: 175px;
    height: 250px;
    text-align: center;
    color: black;
    display: block;;
    margin: 20px 20px;
}

.team_image {
	width: 175px;
	height: 175px;
    display: block;
    text-align: center;
    background-position: center;
    background-size: cover;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

.name {
    margin-top: 20px;
    font-size: 15px;
    font-family: SanFran-Text-Light;
    text-decoration: none;
    transition-duration: 0.5s;
    color: black;
}

.name a {
    color: #1766B7;
    text-decoration: none;
}

.name a:hover {
    color: #FDD144;
}

.job {
    font-size: 10px;
    font-family: SanFran-Text-Light;
}

/*----------------------------------------------------------------------------*/

footer {
    height: 100px;
    background: #202020;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.footerbox {
    display: block;
}

.copyright {
    text-transform: uppercase;
    font-family: SanFran-Semibold;
    letter-spacing: 0.15em;
    color: #e1e1e1;
    padding: 2px;
}

.copyright a {
    text-decoration: none;
    font-family: SanFran-UltraLight;
    color: #e1e1e1;
}

/*----------------------------------------------------------------------------*/

@font-face {
    font-family: SanFran-SemiBold;
    src: url('../fonts/SanFranciscoDisplay-Semibold.otf');
}

@font-face {
    font-family: SanFran-UltraLight;
    src: url('../fonts/SanFranciscoDisplay-Ultralight.otf');
}

@font-face {
    font-family: SanFran-Text-Light;
    src: url('../fonts/SanFranciscoText-Light.otf');
}

/*----------------------------------------------------------------------------*/
@media screen and (max-width: 1250px) {
    .teamPage {
        padding-left: 50px;
        padding-right: 50px;
    }
    #officer-data {
        margin: 20px;
    }
}
@media screen and (max-width: 900px) {
    header ul {
        padding-left: 10px;
        padding-right: 10px;
    }
    header ul li {
        padding-left: 10px;
        padding-right: 10px;
    }
    .teamPage {
        padding-left: 0px;
        padding-right: 0px;
    }
    #officer-data {
        margin: 0px;
    }
    #iOSlogo {
        width: 50px;
        height: 50px;
    }
    .h1 {
        font-size: 70px;
    }

    .h2 {
        font-size: 70px;
    }
    h3 {
        font-size: 15px;
        margin-bottom: 20px;
    }
    .buttons_sameLevel {
        display: block;
    }
    .button{
        width: 125px;
        margin: 5px;
    }
}

@media screen and (max-width: 420px) {
    header {
        position: relative;
    }
    header ul {
        padding-left: 0;
        padding-right: 0;
    }
    header ul li {
        display: flex;
        text-decoration: none;
        display: inline-block;
    }

    #iOSlogo {
        width: 50px;
        height: 50px;
    }
    .h1 {
        font-size: 50px;
    }

    .h2 {
        font-size: 50px;
    }
    h3 {
        font-size: 10px;
        margin-bottom: 20px;
    }
    .teamPage {
        padding-left: 0px;
        padding-right: 0px;
    }
    #officer-data {
        margin: 0px;
    }
    .buttons_sameLevel {
        display: block;
    }
    .button{
        width: 200px;
        margin: 5px;
    }
}
