---
layout: master
---

<div class="container top-space-on-fixed">
    <div class="row med-spacer">
        <div class="col intro">
            <h1>What's on our mind?</h1>
            <h4>Dedication to building a community of iOS developers at Georgia Tech.</h4>
        </div>
    </div>
    <div class="row spacer card-space">
        <div class="col-md">
            <a class="clickable-card" href="{{ site.baseurl }}/schedule/">
                <div class="card" style="width: 20rem">
                    <img class="card-img-top" src="{{ site.baseurl }}/images/home/cal.png">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted text-uppercase">Save the Date</h6>
                        <h4 class="card-title">Learn Something New</h4>
                        <p class="card-text small-spacer">Want to know when the next meeting is? View the schedule for information on all events and activities.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md">
            <a class="clickable-card" href="{{ site.facebook_url }}" onclick="openFacebook(); return false;" target="_blank">
                <div class="card" style="width: 20rem">
                    <img class="card-img-top" src="{{ site.baseurl }}/images/home/facebook.jpg">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted text-uppercase">Get Social</h6>
                        <h4 class="card-title">Join the Facebook
                            <br> Group</h4>
                        <p class="card-text small-spacer">For all the latest news and updates about club meetings and events follow us on Facebook.</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="bg large-spacer">
    <div class="container">
        <div class="row">
            <div class="col">
                <img class="devices" src="{{ site.baseurl }}/images/home/devices_watch.png">
            </div>
        </div>
        <div class="row med-spacer">
            <div class="col about-us">
                <h1>About Us</h1>
                <h4>We support our members through a strong curriculum spanning iOS development and design. We host beginner-friendly
                    meetings every
                    <span style="color:#1D2129; font-weight:500;">Tuesday at 6:00pm in Klaus 1456.</span> After just one semester, our members go on to develop their own
                    apps and receive internships in the industry.</h4>
            </div>
        </div>
    </div>
</div>

<div class="bg thanks">
    <div class="container">
        <!-- <div class="row">
            <div class="col">
                <h1>A Special Thanks</h1>
            </div>
        </div> -->
        <!-- <div class="row med-spacer note">
            <div class="col about-us">
                <h4>We want to recognize all of our sponsors who helped during the 2016-2017 year with tech talks, prizes,
                    and support.</h4>
            </div>
        </div> -->
        <div class="row logos">
            <div class="col">
                <img src="{{ site.baseurl }}/images/home/sponsors/mailChimp-dark.png" />
            </div>
            <div class="col">
                <img src="{{ site.baseurl }}/images/home/sponsors/ingeniousMed-dark.png" />
            </div>
            <div class="col">
                <img src="{{ site.baseurl }}/images/home/sponsors/airwatch-dark.png" />
            </div>
        </div>
    </div>
</div>

<div class="bg">
    <div class="container">
        <div class="row">
            <div class="col about-us">
                <h1 class="meet">Meet the Team</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% include team.html %}
            </div>
        </div>
    </div>
</div>

{% include footer.html %}