<!DOCTYPE html>
<html class = "">
<head>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta content="text/html; charset-utf-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1, minimum-scale=1.0, maximum-scale=1.0">

    <title>GT iOS Club</title>

    <link rel="stylesheet" type="text/css" href="css/home.css">
</head>

<body>
    <header>
        <div class="nav">
            <ul>
                <li class="li3"><a href="tutorials.html" target="_top"><img id="tutorials" src="images/home/tutorials.png" alt="Logo" height="20" width="20"></a></li>
                <li class="li3"><a href="schedule.html" target="_top"><img id="calendar" src="images/home/calendar.png" alt="Logo" height="20" width="20"></a></li>
                <li class="li3"><a href="https://www.facebook.com/groups/iosgatech/" target="_blank"><img id="facebook" src="images/home/facebook.png" alt="Logo" height="20" width="20"></a></li>
                <li class="li3"><a href="mailto:iosgatech@gmail.com" target="_top"><img id="email" src="images/home/email.png" alt="Logo" height="20" width="20"></a></li>
                <li class="li3"><a href="https://github.com/iosgatech" target="_blank"><img id="github" src="images/home/github.png" alt="Logo" height="20" width="20"></a></li>
            </ul>
        </div>
    </header>

    <section class="main">
        <div class = "title">
            <div class ="insideTitle">
                <div class="title_sameLevel">
                    <div class="inside_title_sameLevel"><img id="iOSlogo" src="images/home/logo.png" alt="Logo" height="100" width="100"></div>
                    <div class="inside_title_sameLevel h2">GT</div>
                    <div class="inside_title_sameLevel h1">iOS</div>
                    <div class="inside_title_sameLevel h2">Club</div>
                </div>
                <h3>Georgia Institute of Technology</h3>
                <div class="buttons_sameLevel">
                    <a href="tutorials.html"><button class="button">Tutorials</button></a>
                    <a href="schedule.html"><button class="button">Schedule</button></a>
                    <a href="https://www.facebook.com/groups/iosgatech/" target="_blank"><button class="button">Facebook Group</button></a>
                </div>
            </div>
        </div>
    </section>
    <section class="main">
        <div class="siri">
            <div id = "iphone" class="iphone">
                <!--<div class = "siriscreen">
                    <div class = "insideScreen">
                        <div id="SS1" class="rightScreen extraTopPadding">"Hey Siri, when does iOS Club meet?"</div>
                        <div id="SS2" class="rightScreen siridetails">tap to edit</div>
                        <div id="SS3" class="leftScreen extraTopPadding">Here it is:</div>
                        <div id="SS4" class="leftScreen time">6:00</div>
                        <div id="SS5" class="leftScreen">on Tuesdays in Klaus 1456</div>
                    </div>
                </div>
                <div id ="con" class="siriLogo">
                    <div id="container-ios9"></div>
                </div>-->
            </div>
        </div>
    </section>
    
    <section class="page2">
        <div class = "teamPage">
            <h2>OUR SPONSORS</h2>
            <p>We want to recognize all our sponsors who have helped during the 2016-2017 year with tech talks, prizes, and support.</p>
            <div class="level1sponsor">
                <img scr="images/home/sponsor1.png" alt = "Ingenious Med" height = "150" width = "150">
                <p>Ingenious Med</p>
            </div>
            <div class="level2sponsor">
                <div>
                    <img scr="images/home/sponsor2.png" alt = "Ingenious Med" height = "100" width = "100">
                    <p>MailChimp</p>

                </div>
                <div>
                    <img scr="images/home/sponsor3.png" alt = "Ingenious Med" height = "100" width = "100">
                    <p>Airwatch</p>

                </div>
            </div>
                                                                                                     
        </div>
    </section>

    <section class="page2">
        <div class="teamPage">
            <h2>ABOUT US</h2>
            <p>We're dedicated to building a community of iOS Developers here at Georgia Tech. We teach iOS Development at beginner-friendly meetings every week. We support our members through a strong curriculum spanning iOS development and design. Many of our members go on to develop their own apps, and we love to see them succeed!</p>
            <ul id="officer-data"></ul>
        </div>

    </section>
    <footer>
        <div class = "footer">
            <div class = "footerbox">
                <img src="images/home/logo.png" alt="" height="30" width="30">
                <p class="copyright" style="font-size: 10px;">&copy; GT iOS Club OCT 2016</p>
                <p class="copyright" style="font-size: 8px;"><a href="http://www.varunballari.xyz" target="_blank">designed by Varun Ballari</a></p>
            </div>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="js/data.js"></script>
    <script src="js/function.js"></script>
<!--     <script src="js/siriwave.js"></script> -->
<!--     <script src="js/siriwave9.js"></script> -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <!--<script>
        var $siri_ios9 = document.getElementById('container-ios9');
    			var SW9 = new SiriWave9({
    				width: 180,
    				height: 30,
    				speed: 0.1,
    				amplitude: 1,
    				container: $siri_ios9,
    				autostart: true,
    			});
    </script>-->
</body>
</html>
