<!doctype html>
<html lang="en">

<head>
  <title>
    {% if page.title %}
      {{ site.title }} &middot; Part {{page.part}} - {{ page.title }}
    {% else %}
      {{ site.title }}
    {% endif %}
  </title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
    crossorigin="anonymous">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style-1.css">
  {% if page.url contains "part" or page.url contains "tutorials" %}
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style-2.css">
  {% elsif page.url contains "schedule" %}
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style-2.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style-3.css">
  {% endif %}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
  <link rel="shortcut icon" href="{{site.baseurl}}/images/favicon.ico">
</head>

<body>
  {% if page.url contains "schedule" %}
    {% include top-navigation.html schedule="active" tutorial="" %}
  {% elsif page.url contains "tutorials" or page.url contains "part" %}
    {% include top-navigation.html schedule="" tutorial="active" %}
  {% else %}
    {% include top-navigation.html schedule="" tutorial="" %}
  {% endif %}

  {{ content }}
  

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
    crossorigin="anonymous"></script>
    
  <script src="//cdn.jsdelivr.net/npm/jquery.scrollto@2.1.2/jquery.scrollTo.min.js"></script>

    <!-- Optional JavaScript -->
  {% if page.permalink contains "schedule" %}
  <script type="text/javascript" src="{{ site.baseurl }}/js/adjust-calendar-view.js"></script>
  {% elsif page.permalink contains "part" %}
  <script type="text/javascript" src="{{ site.baseurl }}/js/tutorial-page-adjustments.js"></script>
  {% endif %}

</body>

</html>